:root {
  --blue: #2248b2;
  --light-blue: #9fb0de;
  --light-brown: #ffe6b3;
  --brown: #a47523;
  --dark-brown: #583b0c;
}

body {
  background-color: var(--dark-brown) !important;
}

.App {
  /* text-align: center; */
  height: 100vh;
  width: 100vw;
}

.title {
  background: var(--light-brown);
  text-align: center;
  color: var(--dark-brown);
}

.profession-container {
  background-color: var(--brown);
}

.profession-box {
  padding: 25px;
  border-radius: 108px;
}

.profession-image {
  border-radius: 8px;
}

.active {
  box-shadow:0 0 20px 7px var(--light-brown);
}

.recipe-title {
  text-align: center;
  font-size: 1.5em;
  background-color: var(--light-brown);
  margin: 20px 0px 0px 0px;
  padding: 10px;
}

.recipe-info {
  background: var(--brown);
  padding: 10px;
  margin: 0px 20px 10px 20px;
}

.crafter-list {
  list-style: none;
  padding: 0px;

}